 <li class="round bunkai">
  <table>
    <tr>
      <td class="avatar" >
        <%= gravatar_for bunkai.user, :size => 30 %>
      </td>
      <td class="title">
        <%= link_to bunkai.title, bunkai_path(bunkai) %>
      </td>
      <td class="thumbs" rowspan='2'>
        <% bunkai.techniques.order('id').each do |technique| %>
          <%= image_tag technique.image.url(:thumbnail), :alt => technique.description%>
        <% end %>
      </td>
      </td>
    </tr>
    <tr>
      <td colspan='2' class="small quiet signature">
        <%= bunkai.user.name %>
        (<%= time_ago_in_words bunkai.created_at %> ago)
      </td>
    </tr>
  </table>
 </li>
