<span id="bunkai">
  <h2><%= @bunkai.title %></h2>
  <span class="techniques">
    <%= render @bunkai.techniques %>
  </span>
  <span class="maneuvers">
    <% @bunkai.maneuvers.each do |maneuver| %>
      <%= form_for(maneuver) do |form| %>
        <%= render 'shared/error_messages', :object => form.object %>
        <%= form.text_area :description, :size => "80x6" %>
        <%= form.radio_button :actor, "attacker" %>
        <%= form.label :attacker %>
        <%= form.radio_button :actor, "defender" %>
        <%= form.label :defender %>
        <%= form.submit 'Update' %>
        <%= link_to "delete", maneuver_path(maneuver), :method => :delete, 
          :confirm => "Are you sure?", :title => "Delete maneuver" %>
      <% end %>
    <% end %>
    <hr />
    <%= form_for(@new_maneuver) do |form| %>
      <%= hidden_field_tag(:bunkai_id, @bunkai.id) %>
      <%= render 'shared/error_messages', :object => form.object %>
      <%= form.text_area :description, :size => "80x6" %>
      <%= form.radio_button :actor, "attacker" %>
      <%= form.label :attacker %>
      <%= form.radio_button :actor, "defender" %>
      <%= form.label :defender %>
      <%= form.submit 'Add' %>
    <% end %>
  </span>
</span>