<%= render 'shared/breadcrumb', :object => @kata %>
<span id="create_bunkai">
  <h2>Select techniques from <%= @kata.name %></h2>
  <span class="techniques">
    <%= form_for(@bunkai, :url => bunkai_path) do |form| %>
      <%= render 'shared/error_messages', :object => form.object %>
      <%= form.hidden_field(:kata_id) %>
      <ul class="flat">
        <% @techniques.each do |technique| %>
          <li>
            <%= image_tag technique.image.url(:small), :alt => technique.description%>
            <%= check_box_tag "technique_#{technique.id}", technique.id %>
          </li>
        <% end %>
      </ul>
      <%= form.text_field :title %>
      <%= form.submit 'Create' %>
    <% end %>
  </span>
</span>