<%= render 'shared/breadcrumb', :object => @bunkai %>
<span id="bunkai">
  <h2><%= @bunkai.title %></h2>
  <span class="techniques">
    <ul class="flat">
      <%= render @techniques %>
    </ul>
  </span>
  <span class="maneuvers">
    <%= render @maneuvers %>
  </span>
  <% if current_user == @bunkai.user %>
  <nav>
    <%= link_to "Edit", edit_bunkai_path(@bunkai), :style => "padding-bottom: 0px;"%>
  </nav>
  <% end %>
</span>