<span id="edit_kata">
  <h2>Edit <%= @kata.name %></h2>
   <%= form_for @kata, :url => kata_path do |form| %>
    <%= render 'shared/error_messages', :object => form.object %>
    <%= form.label :name %>  
    <%= form.text_field :name %>
    <%= form.submit 'Update' %>
  <% end %>
  <span>
    <% @kata.techniques.each do |technique| %>
      <%= form_for technique, :html => { :multipart => true } do |form| %>
        <%= render 'shared/error_messages', :object => form.object %>
        <%= form.hidden_field :kata_id %>
        <%= form.text_field :description %>
        <%if technique.image.file? %>
          <%= image_tag technique.image.url(:small) %>
          <%= form.file_field :image %>
        <% end %>
        <%= form.submit 'Update' %>
        <%= link_to "delete", technique_path(technique), :method => :delete, 
          :confirm => "Are you sure?", :title => "Delete maneuver" %>
      <% end %>
    <% end %>
    <hr />
      <%= form_for @new_technique, :html => { :multipart => true } do |form| %>
        <%= render 'shared/error_messages', :object => form.object %>
        <%= form.hidden_field :kata_id %>
        <%= form.text_field :description %>
        <%= form.file_field :image %>
        <%= form.submit 'Create' %>
      <% end %>
  </span>
  <%= link_to "Done", kata_path(@kata) %>
</span>