<%= render 'shared/breadcrumb', :object => @kata %>
<h1> Kata <%= @kata.name %></h1>
<% if user_signed_in? then %>
  <%= link_to 'Edit', edit_kata_path(@kata) %>
<% end %>
<ul class="flat">
  <%= render @techniques %>
</ul>
<h3>Bunkai
  <nav>
    <% if user_signed_in? then %>
      <%= link_to 'New', new_bunkai_path(:kata_id => @kata.id), :class => "buttonlike small" %>
    <% end %>
  </nav>
</h3>
<lu class="bunkai">
  <%= will_paginate @bunkai %>
  <%= render @bunkai %>
  <%= will_paginate @bunkai %>
<lu>