<%= render 'shared/breadcrumb', :object => @kata %>
<div>
  <span style="float:right">
    <%= render 'shared/show_hide', :show_hide_div => 'kata_techniques' %>
  </span>
  <h1> Kata <%= @kata.name %></h1>
<div>
<% if user_signed_in? then %>
  <%= link_to 'Edit', edit_kata_path(@kata) %>
<% end %>
<ul class="flat" id="kata_techniques" style="display: block">
  <% @techniques.each do |technique| %>
    <a href=<%= bunkai_index_path(:technique_id => technique.id) %>><%= render technique %></a>
  <% end %>
</ul>
<h3>Bunkai
  <nav>
    <% if user_signed_in? then %>
      <%= link_to 'New', new_bunkai_path(:kata_id => @kata.id), :class => "buttonlike small" %>
    <% end %>
  </nav>
</h3>
<%= will_paginate @bunkai %>
<ul class="bunkai">
  <%= render @bunkai %>
</ul>
<%= will_paginate @bunkai %>