<!DOCTYPE html>
<html>
<head>
  <title>Bunkaipedia</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <header>
      <div class="round" style="background:white; border: solid white 1px">
        <%= render 'layouts/logo' %>
        <nav class="round">
          <ul>
            <li>
              <%= link_to 'Home', root_path %>
            </li>
            <% if user_signed_in? %>
              <li><%= link_to 'Account', user_path(current_user) %></li>
              <!-- Signed in as <%= current_user.email %>. Not you? -->
              <li><%= link_to "Sign out:", destroy_user_session_path, :method => :delete %>
                <%= current_user.name %></li>
            <% else %>
              <li>
                <%= link_to "Sign up", new_user_registration_path %> or 
                <%= link_to "Sign in", new_user_session_path %>
              <li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <section class="round">
		  <% flash.each do |key, value| %>
		    <div class="flash <%= key %>"><%= value %></div>
		  <% end %>
      <%= yield %>
    </section>
    <%= debug(params) if Rails.env.development? %>
  </container>
</body>
</html>
